Host a.github.com
HostName github.com
User git
IdentityFile ~/.ssh/personal-id_rsa

Host a.github.com
HostName github.com/tr
User git
IdentityFile ~/.ssh/personal-id_rsa

Host b.github.com
HostName github.com
User git
IdentityFile ~/.ssh/project-b-id_rsa

