# This is Git's per-user configuration file.

[core]
  editor = 'nvim'
  filemode = false
  autocrlf = false
[commit]
  template = $DOTFILES/git/commit_template
[credential]
  helper = osxkeychain
[diff]
  tool = nvimdiff
[difftool]
  prompt = true

[difftool "nvimdiff"]
  cmd = "nvim -d -u $DOTFILES/init.vim \"$LOCAL\" \"$REMOTE\""
[merge]
  tool = nvimdiff
[mergetool]
  path = nvim
[user]
  email = lakeisha.pogrzeba@gmail.com
  name = 1ak31sha
# Please adapt and uncomment the following lines:
# name = U6064854
# email = u6064854@u6064854-tpm-a.ten.thomsonreuters.com
#git config --global -e


